.header-container{
    /* display flex made the 2 divs(logo-container and navItems-container) horizontal  */
    display: flex; 
    /* Made the ul list towards right side */
    justify-content: space-between;
    border: 1px solid black;
}

.navItems-container {
    display: flex;
}

.navItems-container > ul {
    /* display flex made the lists under ul horizontal  */
    display:flex;
    /* list-style-type: none removed the bullets */
    list-style-type: none;
}

.navItems-container > ul > li {
    padding: 20px 40px;
}

.logo {
    width: 100px;
}

.restro-cards {
    /* display: flex; */
    /* border: 1px solid black; */
    padding: 5px;
    margin: 10px;
    width: 225px;
    background-color: #f0f0f0;
}

.restro-cards:hover{
    border: 1px solid black;
    cursor: pointer;
}

.resro-container{
    display: flex;
}

.search{
    padding: 10px;
}

